@import "tailwindcss";

html {
    width: 100vw;
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #cecece
}

body {
    width: 100%;
    height: 100%;
}

p {
    word-break: break-all;
}